In [11]:
import numpy as np
import pandas as pd

# 读取数据
data = pd.read_csv("commodity 2000-2022.csv")
data.head()

  Symbol        Date   Open   High    Low  Close  Volume
0   Gold  2000-01-04  281.0  281.0  281.0  282.7       4
1   Gold  2000-01-05  283.2  283.2  283.2  281.1      16
2   Gold  2000-01-06  281.4  281.4  281.4  281.4       0
3   Gold  2000-01-07  281.9  281.9  281.9  281.9       0
4   Gold  2000-01-10  281.7  281.7  281.7  281.7       0

In [12]:
data.value_counts()

Symbol     Date        Open    High     Low      Close   Volume
Brent Oil  2000-01-04  281.0   281.00   281.00   282.7   4         1
Nickel     2022-03-25  1957.8  1965.10  1942.60  1954.2  147904    1
Palladium  2000-01-18  288.6   288.60   288.60   288.6   0         1
           2000-01-14  283.9   283.90   283.90   283.9   0         1
           2000-01-13  284.1   284.10   284.10   284.1   0         1
                                                                  ..
Gold       2022-03-24  1944.1  1967.20  1937.40  1962.2  181204    1
           2022-03-23  1920.9  1948.80  1915.60  1937.3  153306    1
           2022-03-22  1936.1  1939.50  1909.80  1921.5  153282    1
           2022-03-21  1922.4  1941.80  1917.20  1929.5  146411    1
Wheat      2022-03-31  1932.5  1932.65  1918.95  1919.7  0         1
Length: 34158, dtype: int64

In [13]:
major_list = data['Symbol'].value_counts().reset_index()['index'].to_list()
major_list

['Natural Gas', 'Palladium', 'Wheat', 'Nickel', 'Gold', 'Brent Oil']

In [14]:
data.describe()

               Open          High           Low         Close         Volume
count  34158.000000  34158.000000  34158.000000  34158.000000   34158.000000
mean    1049.095990   1052.926784   1044.946756   1052.675588    2871.630950
std      520.928989    522.991400    518.625896    523.103658   20859.478723
min      255.000000    255.000000    255.000000    255.100000       0.000000
25%      460.100000    460.100000    460.000000    460.100000       5.000000
50%     1221.000000   1225.700000   1216.800000   1234.100000      57.000000
75%     1406.000000   1409.200000   1403.100000   1415.300000     246.000000
max     2121.700000   2121.700000   2121.700000   2117.100000  447651.000000

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34158 entries, 0 to 34157
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  34158 non-null  object
 1   Date    34158 non-null  object
 2   Open    34158 non-null  float64
 3   High    34158 non-null  float64
 4   Low     34158 non-null  float64
 5   Close   34158 non-null  float64
 6   Volume  34158 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.8+ MB

In [16]:
Gold = data[data.Symbol == 'Gold']
sp = 5000
Gold

     Symbol        Date    Open     High      Low   Close  Volume
0      Gold  2000-01-04   281.0   281.00   281.00   282.7       4
1      Gold  2000-01-05   283.2   283.20   283.20   281.1      16
2      Gold  2000-01-06   281.4   281.40   281.40   281.4       0
3      Gold  2000-01-07   281.9   281.90   281.90   281.9       0
4      Gold  2000-01-10   281.7   281.70   281.70   281.7       0
...     ...         ...     ...      ...      ...     ...     ...
5688   Gold  2022-03-25  1957.8  1965.10  1942.60  1954.2  147904
5689   Gold  2022-03-28  1958.7  1959.80  1915.70  1939.8  181367
5690   Gold  2022-03-29  1922.4  1929.40  1888.30  1912.2  128051
5691   Gold  2022-03-30  1918.4  1937.00  1914.50  1933.5   17765
5692   Gold  2022-03-31  1932.5  1932.65  1918.95  1919.7       0

[5693 rows x 7 columns]

In [22]:
train_data = Gold[0:sp]
train_data.to_csv('train.csv')
train_data

     Symbol        Date    Open    High     Low   Close  Volume
0      Gold  2000-01-04   281.0   281.0   281.0   282.7       4
1      Gold  2000-01-05   283.2   283.2   283.2   281.1      16
2      Gold  2000-01-06   281.4   281.4   281.4   281.4       0
3      Gold  2000-01-07   281.9   281.9   281.9   281.9       0
4      Gold  2000-01-10   281.7   281.7   281.7   281.7       0
...     ...         ...     ...     ...     ...     ...     ...
4995   Gold  2019-08-13  1556.2  1571.7  1523.1  1547.7      65
4996   Gold  2019-08-14  1538.5  1553.1  1532.6  1561.0     238
4997   Gold  2019-08-15  1553.0  1561.2  1546.0  1563.7     291
4998   Gold  2019-08-16  1557.4  1557.7  1541.3  1556.2     163
4999   Gold  2019-08-19  1543.9  1543.9  1531.0  1544.0     345

[5000 rows x 7 columns]

In [21]:
test_data = Gold[sp+1:]
test_data.to_csv('train.csv')
test_data

     Symbol        Date    Open     High      Low   Close  Volume
5001   Gold  2019-08-21  1532.7  1540.60  1532.70  1548.2     556
5002   Gold  2019-08-22  1534.3  1538.80  1530.50  1541.1     248
5003   Gold  2019-08-23  1539.0  1563.50  1537.30  1570.2     258
5004   Gold  2019-08-26  1584.5  1584.50  1563.20  1569.8      71
5005   Gold  2019-08-27  1566.2  1579.30  1564.60  1584.5     168
...     ...         ...     ...      ...      ...     ...     ...
5688   Gold  2022-03-25  1957.8  1965.10  1942.60  1954.2  147904
5689   Gold  2022-03-28  1958.7  1959.80  1915.70  1939.8  181367
5690   Gold  2022-03-29  1922.4  1929.40  1888.30  1912.2  128051
5691   Gold  2022-03-30  1918.4  1937.00  1914.50  1933.5   17765
5692   Gold  2022-03-31  1932.5  1932.65  1918.95  1919.7       0

[692 rows x 7 columns]

In [19]:
test_data.to_csv("test.csv")